<%= link_to "< back", :back, class: "back-button" %>

<div class="profile-edit-container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 text-center header-container">
      <h1 class="custom-header">Create Your Profile</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 text-center form-container">
      <div class="profile-picture-container">
        <label for="profile-picture-upload" class="profile-picture-link">
          <div class="profile-picture">
            <% if current_user.profile_photo.attached? %>
              <%= cl_image_tag(current_user.profile_photo.key, :width=>30, :height=>30, class: "profile-pic", style: "border-radius: 50%;") %>
            <% else %>
              <%= image_tag "dog_logo.png", { width: "30", height: "30", class: "profile-pic", style: "border-radius: 50%;" } %>
            <% end %>
          </div>
        </label>
      </div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.input :username, as: :string, required: true %>
          <%= f.input :profile_photo, as: :file, label: 'Upload a profile picture'%>
          <%= f.input :description, label: 'Describe Yourself!', as: :text %>
          <div class="input-spacing"></div>
          <%= f.input :dog_description, label: 'Let Us Know About Your Pup!', as: :text %>
          <div class="form-spacing"></div>
          <%= f.submit "Update Your Profile", class: "submit-button", method: :patch %>
        <% end %>
    </div>
  </div>
</div>
