
  <div class="listing-card" style="background-image: url('<%= asset_path('Kallang_River_at_Bishan_Park.jpg') %>');">
    <div class="listing-bottom">
      <div class="listing-details">
        <p id="listing-title"><%= listing.title %></p>
        <div class="listing-prices">
            <% final_price = listing.price - (listing.price * listing.discount / 100.0) %>
            <b><h5>$<%= final_price.round(2) %></h5></b>
            <p style="white-space: nowrap;"><strong><%= listing.discount %>% OFF!</strong></p>
          </div>
      </div>

      <div class="listing-details-bottom">
        <% if current_user && listing.user_id == current_user.id %>
          <%= link_to image_tag("edit_symbol.svg", width: "14px"), edit_listing_path(listing) %>
        <% else %>
          <div class="placeholder" style="width:14px; background-color:transparent;"></div>
        <% end %>
      <%= link_to "View Deal", listing_path(listing), class: "view-deal" %>
      </div>
    </div>
  </div>
