<div class="container">
  <h1>This is MY listing index page</h1>
  <div id="My_listings">
    <% @listings.each do |listing| %>

      <p><strong>Title:</strong> <%= listing.title %></p>
      <p><strong>Description:</strong> <%= listing.description %></p>
      <p><strong>Location:</strong> <%= listing.location %></p>
      <p><strong>Price:</strong> <%= listing.price %></p>
      <p><strong>Quantity_left:</strong> <%= listing.quantity_left %></p>

      <div style="display: flex; justify-content: flex-start;">
        <%= link_to "Edit this listing", edit_listing_path(listing), class: "btn btn-primary me-1" %>
        <%= link_to "Destroy this listing", @listing, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary me-1" %>
        <%= link_to "Show this listing", listing_path(listing), class: "btn btn-primary me-1" %>
      </div>
    <% end %>
  </div>
  <%= link_to "Back", :back, class: "btn btn-primary" %>
  <%#= link_to "Back", :back %>
</div>
