<div class="container">

  <%= link_to "< back", :back, class: "back-button" %>

  <div class="listing-show-header">
    <h1><%= @listing.title %></h1>
    <% if current_user.id == @listing.user_id %>
    <% # delete button still doesn't work... troubleshoot later %>
    <%= link_to image_tag("delete_symbol.svg", width: "14px"), listing_path(@listing), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <%= link_to image_tag("edit_symbol.svg", width: "14px"), edit_listing_path(@listing) %>
    <% end %>
  </div>

  <div class="listing-image-and-key-info">
    <div id="listing-image-border">
      <div id="listing-image" style="background-image: url('<%= @listing.photo.attached? ? cl_image_path(@listing.photo.key,:crop=>"fill") : asset_path('Kallang_River_at_Bishan_Park.jpg') %>');"></div>
    </div>

    <div class="listing-key-information">

      <div class="listing-key-information-top">
        <p><b><%= @listing.title %></b><p>
          <h5><s>S$<%= @listing.price %></s></h5>
          <% discounted_price = @listing.price - (@listing.price * @listing.discount / 100.0) %>
          <h1>S$<%= discounted_price.round(2) %></h1>
          <div id="display-discount">
            <h4><%= @listing.discount %>% off</h4>
          </div>
      </div>

      <div class="listing-key-information-bottom">

        <div class="listing-seller-info">
          <%= image_tag("Kallang_River_at_Bishan_Park.jpg", width: "30px", height: "30px", class: "profile-pic", style: "border-radius: 50%;") %>

          <div class="listing-seller-name">
            <p id="created-by">Listing created by<p>
            <p><b><%= @listing.user.email %></b></p>
          </div>
        </div>

        <div class="listing-buttons">
          <% if current_user && @listing.user_id != current_user.id %>
          <%= button_to "Book Now", bookings_path(listing_id: @listing.id, user_id: current_user.id), method: :post, class: "btn btn-primary me-1" %>
          <% end %>
          <% if current_user %>
            <% if current_user.bookmarks.exists?(listing_id: @listing.id) %>
              <%= button_to "Remove Wishlist", bookmark_path(current_user.bookmarks.find_by(listing_id: @listing.id)), method: :delete, class: "btn btn-primary me-1" %>
            <% else %>
              <%= button_to "Wishlist It", bookmarks_path(listing_id: @listing.id, user_id: current_user.id), method: :post, class: "btn btn-primary me-1" %>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>

  </div>

  <div class="listing-show-bottom">

    <h3>Description</h3>
    <p><%= @listing.description  %></p>

    <h3>How to Redeem</h3>
    <p><%= @listing.redeem_description %></p>

    <h3>Location</h3>
    <p><%= @listing.location  %></p>
    <div data-controller="map"
      data-map-marker-value='<%= @marker.to_json %>'
      data-map-api-key-value="<%=ENV['MAPBOX_API_KEY']%>"
      id='map'
      style='width: 620px; height: 300px; position: relative;'>
    </div>

    <br>

    <h5>Other listings that may interest you</h5>
    <div class="other-listings-container">
      <% @listings.each do |listing| %>
      <%= render listing %>
      <% end %>
    </div>
  </div>

</div>
