<div class="container">
  <h1><%= @listing.title %></h1>
  <%= render @listing %>

  <div style="display: flex; justify-content: flex-start;">
    <%= link_to "Back to listings", listings_path, class: "btn btn-primary me-1" %>
    <% if current_user && @listing.user_id == current_user.id %>
      <%= link_to "Edit this listing", edit_listing_path(@listing), class: "btn btn-primary me-1" %>
    <% end %>
    <% if current_user %>
    <%= button_to "Book this", bookings_path(listing_id: @listing.id, user_id: current_user.id), method: :post, class: "btn btn-primary me-1" %>
    <% end %>

    <% if current_user %>
    <%= button_to "Bookmark this", url_for(controller: :bookmarks, action: :create, listing_id: @listing.id, user_id: current_user.id), method: :post, class: "btn btn-primary me-1" %>
    <% end %>
    <% if current_user && @listing.user_id == current_user.id %>
      <%= link_to "Destroy this listing", @listing, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } , class: "btn btn-primary me-1"%>
    <% end %>
  </div>
</div>
