<main class="container" style="padding: 70px 0px;">

  <div class="d-flex justify-content-center bookings-links">
    <p><%= link_to "As seller", seller_bookings_path %></p>
    <p style="margin-left: 20px; font-weight: bold;">As buyer</p>
  </div>



  <h5>CONFIRMED REQUESTS (<%= @bookings.where(confirmed: true).count %>)</h5>
  <div class="container">
    <% @bookings.each do |booking| %>
      <% if booking.confirmed %>
        <div class="card w-100 mb-4" id="booking-card-confirmed">
          <div class="card-body-left">
            <h5 class="card-title"><b><%= booking.listing.title %></b></h5>
            <p class="card-text">Requested to <b><%= link_to booking.listing.user.username, user_path(booking.listing.user), class: "link-text-color" %></b></p>
          </div>
          <div class="card-body-right">
            <p class="mb-4 fw-bold">Confirmed</p>
            <%= link_to raw("View Details <i class='fa-solid fa-caret-right'></i>"), booking_path(booking), class: "view-details" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <h5>UNCONFIRMED REQUESTS (<%= @bookings.where(confirmed: false).count %>)</h5>
  <div class="container">
  <% @bookings.each do |booking| %>
    <% if !booking.confirmed %>
      <div class="card w-100 mb-4" id="booking-card">
        <div class="card-body-left">
          <h5 class="card-title"><b><%= booking.listing.title %></b></h5>
          <p class="card-text">Requested to <b><%= link_to booking.listing.user.username, user_path(booking.listing.user), class: "link-text-color" %></b></p>
        </div>
        <div class="card-body-right">
          <p class="mb-4 fw-bold">Unconfirmed</p>
          <%= link_to raw("View Details <i class='fa-solid fa-caret-right'></i>"), booking_path(booking), class: "view-details" %>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>


</main>
