
<div class="d-flex justify-content-center">
  <p><%= link_to "As seller", seller_bookings_path %></p>
  <p style="margin-left: 20px; font-weight: bold;">As buyer</p>
</div>

<p>YOUR REQUESTS (<%= @bookings.where(confirmed: false).count %>)</p>
<div class="container">
 <% @bookings.each do |booking| %>
  <% if !booking.confirmed %>
    <div class="card w-100 mb-4 bg-white" id="booking-card">
      <div class="card-body-left">
        <h5 class="card-title"><b><%= booking.listing.title %></b></h5>
        <p class="card-text">Requested to <%= link_to booking.listing.user.email, user_path(booking.listing.user), class: "link-text-color" %></p>
      </div>
      <div class="card-body-right">
        <p class="mb-4">Yet to be confirmed</p>
        <%= link_to "View Details ->", booking_path(booking), class: "view-details" %>
      </div>
    </div>
  <% end %>
 <% end %>
</div>

<p>PREVIOUSLY CONFIRMED REQUESTS (<%= @bookings.where(confirmed: true).count %>)</p>
<div class="container">
  <% @bookings.each do |booking| %>
    <% if booking.confirmed %>
      <div class="card w-100 mb-4 bg-white" id="booking-card">
        <div class="card-body-left">
          <h5 class="card-title"><b><%= booking.listing.title %></b></h5>
          <p class="card-text">Requested to <%= link_to booking.listing.user.email, user_path(booking.listing.user), class: "link-text-color" %></p>
        </div>
        <div class="card-body-right">
          <p class="mb-4">Redeemed</p>
          <%= link_to "View Details ->", booking_path(booking), class: "view-details" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
