<main class="container" style="padding: 70px 0px;">
  <div class="d-flex justify-content-center bookings-links">
    <p style="margin-right: 20px; font-weight: bold;">As seller</p>
    <p><%= link_to "As buyer", buyer_bookings_path %></p>

  </div>

  <h5>INCOMING REQUESTS (<%= @bookings.where(confirmed: false).count %>)</h5>
    <div class="container">
      <% @bookings.each do |booking| %>
        <% if booking.confirmed == false %>
          <div class="card w-100 mb-4 " id="booking-card">
            <div class="card-body-left">
              <h5 class="card-title"><b><%= booking.listing.title %> #DD<%=booking.id%></b></h5>
              <p class="card-text">Requested by <b><%= link_to booking.dog_owner.username, user_path(booking.dog_owner), class: "link-text-color" %></p></b>
            </div>
            <div class="card-body-right">
              <%= button_to "Accept", accept_booking_path(booking), method: :patch, class: "btn btn-primary mb-4", id: "booking-btn" %>
              <%= link_to raw("View Details <i class='fa-solid fa-caret-right'></i>"), booking_path(booking), class: "view-details" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>


  <h5>PREVIOUSLY CONFIRMED REQUESTS (<%= @bookings.where(confirmed: true).count %>)</h5>
  <div class="container">
  <% @bookings.each do |booking| %>
    <% if booking.confirmed %>
      <div class="card w-100 mb-4 " id="booking-card-seller-confirmed">
          <div class="card-body-left">
            <h5 class="card-title"><b><%= booking.listing.title %> #DD<%=booking.id%></b></h5>
            <p class="card-text">Requested by <b><%= link_to booking.dog_owner.email, user_path(booking.dog_owner), class: "link-text-color" %></p></b>
          </div>
          <div class="card-body-right">
          <% if booking.redeemed %>
            <p style="font-weight: bold; padding: 10px 0px;">Redeemed</p>
            <%= link_to raw("View Details <i class='fa-solid fa-caret-right'></i>"), booking_path(booking), class: "view-details" %>
          <% else %>
            <%= button_to "Mark as Redeemed", accept_booking_path(booking), method: :patch,class: "btn mb-4 btn-primary", id: "booking-btn" %>
            <%= link_to raw("View Details <i class='fa-solid fa-caret-right'></i>"), booking_path(booking), class: "view-details" %>
          <% end %>
          </div>
      </div>
    <% end %>
  <% end %>
  </div>
</main>
