 <h1> This is the seller's booking page </h1>

<div class="d-flex justify-content-center">
  <p><%= link_to "As buyer", buyer_bookings_path %></p>
  <p style="margin-left: 20px;">As seller</p>
</div>

<p>INCOMING REQUESTS (<%= @bookings.count %>)</p>
<div class="container">
 <% @bookings.each do |booking| %>
  <div class="card w-100 mb-4 bg-white">
    <div class="card-body">
      <h5 class="card-title"><b><%= booking.listing.title %></b></h5>
      <p class="card-text">Requested by <%= booking.dog_owner.email %></p>
    </div>
    <div class="card-body">
      <a href="#" class="btn btn-primary">Accept</a>
      <%= link_to "View Details >", booking_path(booking)%>
    </div>
  </div>
 <% end %>
</div>

<p>PREVIOUS CONFIRMED REQUESTS (<%= @bookings.where(confirmed: true).count %>)</p>
<div class="container">
 <% @bookings.each do |booking| %>
  <% if booking.confirmed %>
    <div class="card w-100 mb-4 bg-white">
        <div class="card-body">
          <h5 class="card-title"><b><%= booking.listing.title %></b></h5>
          <p class="card-text">Requested by <%= booking.dog_owner.email %></p>
        </div>
        <div class="card-body">
          <a href="#" class="btn btn-primary">Mark as Redeemed</a>
          <%= link_to "View Details >", booking_path(booking)%>
        </div>
    </div>
  <% end %>
 <% end %>
</div>
