
<div class="d-flex justify-content-center">
  <p style="margin-right: 20px; font-weight: bold;">As seller</p>
  <p><%= link_to "As buyer", buyer_bookings_path %></p>

</div>

<p>INCOMING REQUESTS (<%= @bookings.where(confirmed: false).count %>)</p>
  <div class="container">
    <% @bookings.each do |booking| %>
      <% if booking.confirmed == false %>
        <div class="card w-100 mb-4 bg-white" id="booking-card">
          <div class="card-body-left">
            <h5 class="card-title"><b><%= booking.listing.title %></b></h5>
            <p class="card-text">Requested by <%= link_to booking.dog_owner.email, user_path(booking.dog_owner), class: "link-text-color" %></p>
          </div>
          <div class="card-body-right">
            <%= button_to "Accept", accept_booking_path(booking), method: :patch, class: "btn btn-primary mb-4", id: "booking-btn" %>
            <%= link_to "View Details ->", booking_path(booking), class: "view-details" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


<p>PREVIOUSLY CONFIRMED REQUESTS (<%= @bookings.where(confirmed: true).count %>)</p>
<div class="container">
 <% @bookings.each do |booking| %>
  <% if booking.confirmed %>
    <div class="card w-100 mb-4 bg-white" id="booking-card">
        <div class="card-body-left">
          <h5 class="card-title"><b><%= booking.listing.title %></b></h5>
          <p class="card-text">Requested by <%= link_to booking.dog_owner.email, user_path(booking.dog_owner), class: "link-text-color" %></p>
        </div>
        <div class="card-body-right">
          <a href="#" class="btn btn-primary mb-4" id="booking-btn">Mark as Redeemed</a>
          <%= link_to "View Details ->", booking_path(booking), class: "view-details" %>
        </div>
    </div>
  <% end %>
 <% end %>
</div>
