<main class="container" style="padding-bottom: 120px">

<section class="booking-page" style = "padding-top: 80px;">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left back-button'></i>"), :back, class: "back-button" %>
  <div class="booking-details-header">
    <div>
      <div style="padding-top: 40px;">
        <h5 style="margin:0">Your Booking</h5>
      </div>

         <% if @booking.confirmed == true %>
           <h3 class="booking-confirmed"> <%= "CONFIRMED"  %> </h3>
        <% else %>
          <h3 class="booking-unconfirmed"> <%= "UNCONFIRMED"  %> </h3>
        <% end %>

    </div>
    <h5><%= link_to "View Listing", listing_path(@booking.listing_id), class: "btn btn-primary view-btn" %></h5>
  </div>

  <hr>


  <div class="booking-info">
    <h2 class="booking-info-left"><%= @booking.listing.title%></h2>
    <h2 class="booking-info-right"> SGD <%= @booking.booking_price%> </h2>
  </div>

  <article>
    <h4 class="pb-2">How To Redeem</h4>
    <p class="fw-light pb-5"><%= @booking.listing.redeem_description %></p>
  </article>
</section>

<section class="creator-details booking-page">
  <div class="booking-details-header">
    <h5> Dog-Deal Creator </h5>
    <h5><%= link_to "View Profile", user_path(@booking.listing.user), class: "btn btn-primary view-profile-btn" %></h5>
  </div>
  <h4 class="creator-username"><%= @booking.listing.user.username %></h4>
  <div>
    <div>
      <ul class="details">
        <li><b>Email:</b> <%= @booking.listing.user.email %></li>
        <li><b>Phone number:</b> <%= @booking.listing.user.mobile %></li>
        <li><b>Address:</b> <%= @booking.listing.user.address %></li>
      </ul>
    </div>
  </div>
</section>
</main>
