<h1><%= current_user.username  %></h1>
<p>Manage your account</p>


<%= link_to "View Profile", user_path(current_user) %>
<%= link_to "Edit Your Profile", edit_user_registration_path(current_user) %>

<h3> My Account </h3>
<p><b> Contact Information </b></p>
<%= link_to "Change Password", change_password_path %>

<%= simple_form_for(current_user, html: { method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } }) do |f| %>
  <%= f.button :submit, "Delete Account", class: "btn btn-danger" %>
<% end %>

<%= simple_form_for(current_user, url: update_account_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :username %>
    <%= f.input :email %>
    <%= f.input :mobile %>
    <%= f.input :address %>
  </div>

  <div class="form-actions">
    <%= f.button :submit , class: "btn btn-primary" %>
  </div>
<% end %>
