<div class="container" style="padding:70px 0px;">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left back-button'></i>"), :back, class: "back-button"%>

  <div class="row justify-content-center">
    <div class="col-sm-3">
      <div class="my-profile-pic text-center">
        <% if @user.profile_photo.key == nil %>
          <%= image_tag("dog_logo.png", :width=>200, :height=>200, class: "profile-page-pic", style: "border-radius: 50%;") %>
        <% else %>
          <%= cl_image_tag(@user.profile_photo.key, :width=>200, :height=>200, class: "profile-pic", style: "border-radius: 50%;") %>
        <% end %>
        <h4 class="text-center fs-5 mt-3 mb-1" ><%= @user.username %></h4>
        <% if user_signed_in? %>
          <% if @user.id == current_user.id %>
            <%= link_to "Edit Your Profile", edit_profile_path(@user), class: "edit-your-profile-link" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-md-9">

      <h2>About <%=@user.username %></h2>
      <p><%= @user.description %></p>
      <hr>

    <h4>Available Dog-Deals</h4>

    <div class="profile-listings-container">
      <% @listings.each do |listing| %>

        <%= render listing %>

      <% end %>
    </div>

    </div>
</div>
