<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4">
    <%= link_to "< back", :back, class: "back-button" %>
      <div class="my-profile-pic text-center">
        <%= cl_image_tag current_user.profile_photo.key, class: "rounded-circle shadow-4-strong", height: 200 %>
        <h3 class="text-center fs-5"><%= current_user.username %></h3>
        <h2 class="text-center fs-6">Ratings</h2> <!--- how to calculate this ratings-->
      </div>
    </div>
    <div class="col-md-8">
      <div class="mb-3">
        <i class="fa-regular fa-pen-to-square"></i> <%= link_to "Edit Profile", edit_user_path(current_user), class:"text-lowercase fs-6 fw-light text-decoration-underline mt-3 mb-2" %>
      </div>
      <h2>About <%= current_user.username %></h2>
      <p><%= current_user.description %></p>
      <hr>
      <h2>Listings</h2>
        <div class="row">
          <% current_user.listings.each do |listing| %>
            <div class="col-sm-4">
              <div class=card>
                <div class="card-body">
                  <h5 class="card-title"><%= listing.title%></h5>
                  <p class="card-text"><%= listing.description%></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
</div>
