
<div class="account-settings-container">

  <section class="account-settings-left">

    <div id="top">
      <h3><%= current_user.username  %></h3>
      <%= link_to "View Profile", user_path(current_user) %>

    </div>


    <div id="bottom">

      <h4> My Account </h4>
      <%= link_to "Contact Information", edit_user_registration_path %>
      <p style="padding-top:10px; padding-bottom: 0px" ><b>Change Password</p></b>

      <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure? You won't be able to undo this." }, method: :delete %>
    </div>

  </section>


  <section class="account-settings-right">
    <h4><b> Change Password </b></h4>
    <p>Manage your account</p>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
      <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    autofocus: true,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>

      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-primary" %>
      </div>
    <% end %>

</div>
